namespace: alethic.auth0.operator-system
namePrefix: alethic.auth0.operator-
commonLabels:
  operator: alethic.auth0.operator
resources:
- operator-role.yaml
- operator-role-binding.yaml
- deployment.yaml
- service.yaml
- brandingthemes_kubernetes_auth0_com.yaml
- clients_kubernetes_auth0_com.yaml
- clientgrants_kubernetes_auth0_com.yaml
- connections_kubernetes_auth0_com.yaml
- resourceservers_kubernetes_auth0_com.yaml
- tenants_kubernetes_auth0_com.yaml
- namespace.yaml
images:
- name: operator
  newName: accessible-docker-image
  newTag: latest
configMapGenerator:
- name: webhook-config
  literals:
  - KESTREL__ENDPOINTS__HTTP__URL=http://0.0.0.0:5000
  - KESTREL__ENDPOINTS__HTTPS__URL=https://0.0.0.0:5001
  - KESTREL__ENDPOINTS__HTTPS__CERTIFICATE__PATH=/certs/svc.pem
  - KESTREL__ENDPOINTS__HTTPS__CERTIFICATE__KEYPATH=/certs/svc-key.pem
secretGenerator:
- name: webhook-ca
  files:
  - ca.pem
  - ca-key.pem
- name: webhook-cert
  files:
  - svc.pem
  - svc-key.pem
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization