apiVersion: v1
kind: Service
metadata:
  name: {{ include "auth0-operator.fullname" . }}
  labels:
    {{- include "auth0-operator.labels" . | nindent 4 }}
spec:
  ports:
  - name: https
    port: 443
    targetPort: https
  selector:
    {{- include "auth0-operator.selectorLabels" . | nindent 4 }}
