apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "auth0-operator.fullname" . }}
  labels:
    {{- include "auth0-operator.labels" . | nindent 4 }}
  annotations:
    {{- with .Values.operator.serviceAccountAnnotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
